.icon-container{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px solid blue;
    margin-left: 10px;
}
.icon button{
    margin-right: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity:0.7;
    border: 0px solid blue;
}