<div class="main-container">
    <div class="notes" *ngFor='let noteArray of receiveNotes | filter : searchbar' [style.background]="noteArray.color" (UpdateNoteEvent)="recievedEvent($event)" [class.listview]="gridlistView"  >
        <div class="title" >
            <p (click)="openDialog(noteArray)">{{noteArray.title}}</p>
        </div>
        <div class="descriptiondata">
            <p (click)="openDialog(noteArray)" >{{noteArray.description}}</p>
        </div>
        <div class="note-icons">
        <app-icons [noteCard]="noteArray" (NoteIconEvent)="recievedEvent($event)"></app-icons>
        </div>
    </div>
</div>
