<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
        <div mat-icon-button (click)="snav.toggle()" class="menubutton" role="button">
            <mat-icon>menu</mat-icon>
        </div>
        <div class="logo">
            <img src="../../../../assets/keep_logo.png">
        </div>
        <h1 class="example-app-name">Fundoo</h1>

        <div class="search-container">
            <div class="search-btn" type="button">
                <img src="../../../../assets/search.svg">
            </div>
            <div>
                <input class="search-field" type="text" aria-label="search" placeholder="Search" autocomplete="off"
                    role="combobox" aria-hidden="false" (keyup)="searchNote($event)">
            </div>
        </div>

        <div class="btn-container">
            <div>
                <img class="img" src="../../../assets/Refresh.png">
                
                    <button *ngIf="!grid" class="listview" >
                        <img (click)="formatListView();FormatView()" class="img" src="../../../assets/view.png">
                    </button>

                    <button *ngIf="grid" class="gridview" >
                        <img (click)="formatGridView();FormatView()" class="img" src="../../../../assets/Grid View.png">
                    </button>
                <img class="img" src="../../../assets/settingicon.png">
            </div>
        </div>
        <div>
            <div>
                <img class="img" src="../../../assets/menu.png">

                <button class="logout" mat-icon-button mat-button [matMenuTriggerFor]="logout">
                    <img  class="img1" src="../../../../assets/person.svg">
                </button>
                <mat-menu #logout="matMenu">
                    <button mat-menu-item (click)="Logout()">Logout</button>
                  </mat-menu>
            </div>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">

            <mat-nav-list>
                <div class="note">
                    <img src="../../../assets/lightbulb.svg" alt="">
                    <a mat-list-item routerLink="/dashboard/notes">Notes</a>
                </div>
                <div class="reminders">
                    <img src="../../../../assets/reminderIcon.svg" alt="">
                    <a mat-list-item>Reminders</a>
                </div>
                <div class="label">
                    <img src="../../../../assets/editIcon.svg" alt="">
                    <a mat-list-item>Edit labels</a>
                </div>
                <div class="archive" (click)="archiveNotes()">
                    <img src="../../../assets/archive.svg" alt="">
                    <a mat-list-item>Archive</a>
                </div>
                <div class="trash" (click)="trashedNotes()">
                    <img src="../../../assets/delete.svg" alt="">
                    <a mat-list-item>Trash</a>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>